.pull-right {
  float: right; }

.pull-text-right {
  text-align: right; }

.amp-hidden {
  display: none; }

.campoleft {
  float: left; }

.amp-clear-floats {
  overflow: hidden; }

* {
  box-sizing: border-box; }

input[type="text"] {
  padding: 7px;
  border: 1px solid #e3e3e3; }

.amp-width-60 {
  width: 60px; }

.amp-width-100 {
  width: 100px; }

.amp-width-350 {
  width: 350px; }

.amp-space-down-10 {
  margin-bottom: 10px; }

.amp-space-down-20 {
  margin-bottom: 20px; }

.amp-space-down-30 {
  margin-bottom: 30px; }

.amp-space-down-50 {
  margin-bottom: 49px; }

.amp-space-down-80 {
  margin-bottom: 80px; }

.amp-space-left-10 {
  margin-left: 10px; }

.amp-space-left-20 {
  margin-left: 20px; }

.amp-space-left-30 {
  margin-left: 30px; }

.amp-space-left-50 {
  margin-left: 50px; }

.amp-space-left-80 {
  margin-left: 80px; }

.amp-space-left-115 {
  margin-left: 115px; }

.amp-space-left-130 {
  margin-left: 130px; }

.ui-buttonset .ui-button {
  margin-right: .1em;
  border-radius: 5px 5px 0 0; }

.ui-button-text-only .ui-button-text {
  padding: 10px 15px; }

.amp-contenedor-botones {
  font-size: 1.4em; }

.amp-boton-icono {
  padding: 6px 4px;
  border: 1px solid #e3e3e3;
  display: table-cell;
  background: #61b4d4;
  color: white;
  font-size: 1.36em; }

.boton {
  background: #61b4d4;
  color: white;
  vertical-align: middle;
  border: 1px solid #e3e3e3;
  height: 34px; }

.boton:hover {
  background: #28597a;
  color: #ccc; }

.amp-lista-boton {
  margin-top: 14px;
  float: right; }

.dockbar {
  width: 100%;
  background: #61b4d4;
  color: white; }
  .dockbar a, .dockbar a:active, .dockbar a:visited {
    color: white;
    font-size: 1.4em; }

.social-nav-header {
  float: right;
  padding: 5px; }
  .social-nav-header .fa {
    margin-left: 15px; }

.amp-titulo-lengenda {
  color: #808b8d;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 100;
  font-size: 1.18em; }

#cabecera {
  border-bottom: none; }

.blue-line {
  border: #61b4d4 solid 1px;
  height: 2px; }

.amp-lista-barraordenar {
  background-color: #61b4d4;
  color: white;
  text-align: center;
  padding: 6px 0; }
.amp-lista-barratop {
  border-bottom: 1px solid #e3e3e3; }
  .amp-lista-barratop-nombrecoche {
    margin-top: 10px; }
  .amp-lista-barratop-similar {
    margin-top: 9px; }
.amp-lista-condiciones {
  display: block;
  padding-top: 13px;
  color: #4b8ceb; }
